<h2>Results</h2>

<div class="wrapper">
  

  <div id="result_cont">
    <div id="results">
      <h3>Question: <%= @question.question %></h3>
      <h3>Possible Answers:</h3>

      <ol>
        <% @question.panswers.each do |a| %>
          <li><%= a.p_answer %>  <span class="pipe">|</span> <span>Count: <%= a.answer_count %></span></li>
        <% end %>
      </ol>
    </div>
    <div id="google_graph">
      <img src="<%= build_google_graphs_url('p3',@question.panswers) %>" />
    </div>
    <%= link_to "Back to Results", answers_path, { :class => 'button' } %>
  </div>
</div>

